<h1>Editing group record</h1>

<%= render "form", group_record: @group_record %>

<br>

<div>
  <%= link_to "Show this group record", @group_record %> |
  <%= link_to "Back to group records", group_records_path %>
</div>
