<div class= "cont">
    <div class="text-center" >
      <h1 class="text">My Budget App</h1>
      <p class="cont-paragraph">A budget application that keeps track of a users transactions for different categories of needs or wants. It Allows a user to save categories, create transactionns or delete transactions under those categories and Keep records of the total transactions under a given category.</p>
    </div>

    <div class="d-flex flex-column justify-content-between align-items-center">
      <div class= "mb-4">
        <%= link_to "Sign in",  new_user_session_path, class:"btn btn-primary" %>
      </div>
      <div>
        <%= link_to "Sign up",  new_user_registration_path, class:"btn btn-primary" %>
      </div>
    </div>
</div>